# --- İşletim Sistemi Çöpleri ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Editör Ayarları ---
.vscode/
.idea/
*.sublime-workspace
*.swp

# --- Log Dosyaları ---
*.log
npm-debug.log*

# --- Bağımlılıklar ve Çıktılar ---
node_modules/
dist/
build/
.env